@import "./settings.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  width: 80%;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#first {
  background: url(../img/hero.jpg) no-repeat;
  background-size: cover;
  height: 660px;
  header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 10vh;
    .logo {
      position: absolute;
      left: -18px;
    }
    .menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 500px;
      li {
        font-family: "Oswald-Regular", sans-serif;
        font-size: 16px;
        margin-left: 40px;

        a:hover {
          color: #787d89;
          webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
        }
      }
      li:nth-child(6) {
        margin-left: 53px;
      }
      li:nth-child(7) {
        margin-left: 85px;
      }
    }
    .contacts {
      display: flex;
      align-items: center;
      a {
        margin-left: 20px;
        svg:hover {
          fill: #787d89;
          webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
        }
      }
    }
    .phone_number {
      font-family: "Exo2-Medium", sans-serif;
      font-size: 16px;
      margin-right: 20px;
    }
  }
}

.advert {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 37%;
  height: 60vh;
  h1 {
    font-family: "Oswald-Medium", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
  .advert__items {
    display: flex;
    flex-direction: column;
    width: 25%;

    img {
      width: 40px;
      height: 40px;
    }
    span {
      display: inline-block;
      padding-top: 50px;
      font-family: "Exo2-SemiBold", sans-serif;
      font-size: 16px;
    }
  }
}

.form {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -100px;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  z-index: 999;

  input,
  select {
    width: 320px;
    height: 35px;
  }
  .inputWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: 1px solid #dddedf;
    padding: 15px 20px;
    span {
      color: #1e2229;
      font-family: "Exo2-Bold", sans-serif;
      font-size: 11px;
    }
  }

  label {
    font-family: "Exo2-Regular", sans-serif;
    font-size: 16px;
    color: #1e232a;
    margin: 10px 0 15px 50px;
  }

  label::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: 40px;
    height: 30px;
    width: 30px;
    background: #ebecee;
  }

  label::after {
    content: "";
    position: absolute;
    left: 40px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url(../img/check-mark-blue.svg) no-repeat;
    background-size: cover;
  }

  input[type="submit"] {
    margin-top: 20px;
    background: #2889f0;
    width: 100%;
    height: 60px;
    color: #fff;
    cursor: pointer;
  }
  .confirm_label {
    padding-top: 20px;
    span {
      color: #2889f0;
    }
    label::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 40px;
      height: 20px;
      width: 20px;
      background: #ebecee;
    }
    label::after {
      content: "";
      position: absolute;
      left: 40px;
      display: inline-block;
      height: 20px;
      width: 20px;
      background: url(../img/check-mark-blue.svg) no-repeat;
      background-size: cover;
    }
  }
  input[type="checkbox"] + label::after {
    content: none;
  }
  input[type="checkbox"]:checked + label::after {
    content: "";
  }
}

#second {
  display: flex;
  height: 950px;
  .offer_type {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    li {
      padding: 50px;
    }
    a {
      font-family: "Oswald-Light", sans-serif;
      font-size: 16px;
      color: #888a8c;
      text-transform: uppercase;
    }

    a:active,
    a:hover {
      color: #d3d4d5;
    }
  }

  .vertical {
    flex-direction: column;
  }
  .car_wrap {
    width: 960px;
    height: 540px;
    position: relative;
    margin: 0 auto;
  }
  .car_illustration {
    position: relative;
    height: 700px;
    width: 100%;
    background: linear-gradient(rgba(30, 35, 42, 0.8), rgba(30, 35, 42, 0.8)),
      url(../img/car.png) no-repeat center;
    font-family: "Exo2-Regular", sans-serif;
    .car_pointer {
      position: absolute;
      display: flex;
      align-items: baseline;
      div {
        margin-bottom: 20px;
        margin-right: 20px;
      }
      &:nth-child(1) {
        left: 47px;
        bottom: 336px;
      }
      &:nth-child(2) {
        top: 90px;
        left: 375px;
      }
      &:nth-child(3) {
        top: 139px;
        right: 169px;
      }
      &:nth-child(4) {
        div {
          width: 100px;
        }
        top: 160px;
        right: 83px;
      }
      &:nth-child(5) {
        bottom: 132px;
        left: 54px;
      }
      &:nth-child(6) {
        bottom: 212px;
        left: 346px;
      }
      &:nth-child(7) {
        bottom: 144px;
        right: 304px;
      }
    }
    .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 150px;
    }
    h3 {
      font-size: 14px;
      font-weight: 200;
    }
    span {
      font-size: 16px;
    }
    .svg {
      padding: 0 0 0 50px;
    }
  }
}

.price_packages_label {
  position: relative;
  width: 342px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  h1 {
    font-family: "Oswald-Regular", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.8;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.price_packages {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 75px;
  .block_wrap {
    position: relative;
  }
  .price_packages_item {
    text-align: center;
    width: 360px;
    height: 600px;
    font-family: "Exo2-Regular", sans-serif;
    border: 2px #353940 solid;

    h2 {
      font-family: "Exo2-Bold", sans-serif;
      font-size: 18px;
      font-weight: normal;
      padding-top: 35px;
    }
    h3 {
      font-size: 16px;
      color: #aaabad;
      font-weight: normal;
      padding-top: 15px;
    }
    h4 {
      font-size: 22px;
      color: #ff4657;
      padding: 30px 0 20px 0;
    }
    p {
      margin: 0;
    }

    li {
      padding-top: 9px;
    }
    li.item::after {
      content: " ";
      display: inline-block;
      width: 90px;
      border-bottom: 1px #353940 solid;
    }

    a {
      width: 140px;
      height: 45px;
      position: absolute;
      bottom: -20px;
      left: 115px;
      background: #ffffff;
      color: #1e232a;
      line-height: 2.5;
    }
  }
}
